################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MovieDB/FileContentIndex/2dd0faa2-ea7c-467c-a764-e385f39142ac.vsidx
/.vs/MovieDB/FileContentIndex/c03b68ac-a6f1-4bdf-a11b-d5e3ac661355.vsidx
/.vs/MovieDB/FileContentIndex/3c8f3ae4-3229-484b-a2fc-c6138a1ccb7e.vsidx
/.vs/MovieDB/FileContentIndex/0ef7e654-12a3-4c07-a889-fa504e39b3fa.vsidx
/.vs/MovieDB/FileContentIndex/a984fdad-167e-4a39-ab60-46bd03bb2100.vsidx
/.vs/MovieDB/FileContentIndex/5b4f4b41-7157-47de-8662-91e349cc96fe.vsidx
/.vs/MovieDB/FileContentIndex/dc2cce25-2d08-4b01-acf0-626ec660a739.vsidx
/.vs/MovieDB/FileContentIndex/143aa383-0214-43b8-b839-abb291609f40.vsidx
