@page "/about"

<PageTitle>About this application</PageTitle>

<h1>About this application</h1>

<div>
    <p>
        Thank you for taking the time to explore my movie database project.

        As an avid movie enthusiast, I endeavored to create a comprehensive tool to meticulously catalog the films that I find enjoyable. This project is an ongoing endeavor, and I have plans to incorporate additional features in the future.

        The application is a CRUD (Create, Read, Update, Delete) system developed in Blazor, utilizing Entity Framework Core and SQLite for seamless functionality and efficient data management.
    </p>
</div>

@code {

}
